table  {
    border: solid black;
    background-color: rgb(62, 214, 244);
    color: rgb(117, 117, 69);
}

th {
    background-color: rgb(9, 45, 39);
    border: solid rgb(105, 105, 223);
    padding: 2px;
}
td {
    border: solid rgb(37, 157, 159);
    color: black;
    padding: 5px;
    width: 150px;
}